<section>
    <div class="flex gap-10 max-md:gap-5 px-5">
        <div class="window px-10 py-10 max-md:px-3 max-md:py-5 relative hover:bg-slate-200 hover:cursor-pointer">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-red-600 to-violet-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div>
                <p class="font-montserrat text-[0.9rem] max-md:text-[0.5rem] max-lg:text-[0.6rem]">Create a new user profile by entering the necessary details. 
                    This function allows you to add new users to our system, 
                    ensuring their information is accurately recorded for future reference and management.
                </p>
            </div>
        </div>
        
        <div class="window px-10 py-10 max-md:px-3 max-md:py-5 relative hover:bg-slate-200 hover:cursor-pointer">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-red-600 to-violet-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div>
                <p class="font-montserrat text-[0.9rem] max-md:text-[0.5rem] max-lg:text-[0.6rem]">Modify existing user profiles to keep information current and correct.
                    This function enables you to update user details, 
                    making sure all records reflect the most accurate and up-to-date information.
                </p>
            </div>
        </div>                    
        
        <div class="window px-10 py-10 max-md:px-3 max-md:py-5 relative hover:bg-slate-200 hover:cursor-pointer">
            <div
                class="absolute -inset-1 bg-gradient-to-r from-red-600 to-violet-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
            </div>
            <div>
                <p class="font-montserrat text-[0.9rem] max-md:text-[0.5rem] max-lg:text-[0.6rem]">Remove user profiles from the system when they are no longer needed.
                    This function allows you to permanently delete user information, 
                    helping to maintain an organized and efficient user database.
                </p>
            </div>
        </div>
    </div>
    
</section>