<div class="flex justify-between w-[100%] items-center padding-x py-3 bg-gray-200">
    <div>
        <p class="secondary-text md:text-[0.9rem] text-[0.6rem] font-montserrat">Copyright &copy; 2024 Emil Roydev</p>

    </div>

    <ul class="flex gap-10">
        <li (click)="githubClickHandler()" class="window p-3 hover:bg-secondary hover:cursor-pointer scale-90 shadow-none transition-shadow hover:scale-100 hover:shadow-lg hover:shadow-gray-700">
            <img src="../../../../assets/github.svg" class="xl:w-[35px] xl:h-[35px] w-[20px] h-[20px]" alt="Github Logo">
        </li>

        <li (click)="linkedInClickHandler()" class="window p-3 hover:bg-secondary hover:cursor-pointer scale-90 shadow-none transition-shadow hover:scale-100 hover:shadow-lg hover:shadow-gray-700">
            <img src="../../../../assets//linkedin.svg" class="xl:w-[35px]  xl:h-[35px] w-[20px] h-[20px]" alt="LinkedIn logo">
        </li>
    </ul>
</div>
