<div class="mt-28 mb-36">
    <div class="max-container">
        <section class="flex flex-col mb-20">
            <h1 class="main-text xl:text-[3.8rem] md:text-[2.6rem] sm:text-[2rem] text-[1.6rem] text-center">
                Stay on Top of Your <span class="text-accent">Finances</span> with Our Advanced Dashboard.
            </h1>

            <p class="info-text text-center px-8">Manage and update user profiles with ease. Review all users in our system and make any necessary edits to ensure accurate and up-to-date information.</p>
        </section>
        
        <app-cards></app-cards>

        <div class="text-center mt-14">
            <app-primary-button
                [buttonText]="buttonText"
                [fontSize]="buttonFontSize"
            ></app-primary-button>
        </div>
    </div>
</div>