@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .primary-text {
    @apply text-[#FAF5F8]
  }

  .secondary-text {
    @apply text-[#090508]
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-gray-400 font-semibold lg:text-[0.7rem] xl:text-[0.8rem] text-[0.5rem];
  }

  .window {
    @apply bg-slate-400/[.03] border border-slate-500/[.30] rounded-3xl;
  }

  .main-text {
    @apply secondary-text font-montserrat font-bold;
  }

  .primary-button {
    @apply secondary-text font-montserrat rounded-md px-5 py-2
  }
}